<div class="filter-bar flex justify-center items-center">
  <form class="w-full max-w-sm">
    <div class="flex items-center py-2">
      <select
        class="appearance-none bg-transparent w-full border-2 border-sky-500 rounded text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
        [(ngModel)]="selectedFilter"
        name="selectedFilter"
        (change)="filterChanged.emit(selectedFilter)"
      >
        <option value="name">Name</option>
        <option value="likes">Likes</option>
        <option value="dislikes">Dislikes</option>
      </select>
    </div>
  </form>
</div>
