<div class="search-bar flex justify-center items-center">
  <form class="w-full max-w-sm" (ngSubmit)="search()">
    <div class="flex items-center py-2">
      <input
        class="appearance-none bg-transparent w-full border-2 border-sky-500 rounded text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
        type="text"
        [(ngModel)]="searchTerm"
        name="searchTerm"
        placeholder="Search for the name of a recipe"
        required
      />
      <button
        class="flex-shrink-0 font-semibold bg-sky-500 hover:bg-sky-700 border-sky-500 hover:border-sky-700 text-sm border-2 text-white py-1 px-2 rounded"
        type="submit"
      >
        Search
      </button>
    </div>
  </form>
</div>
