<!-- recipe-add.component.html -->

<div class="container border p-4 rounded-lg shadow-md sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl 2xl:max-w-2xl mx-auto my-8">
  <h2 class="text-2xl font-bold mb-8 text-center">Add a new recipe</h2>

  <form [formGroup]="recipeForm" (ngSubmit)="addRecipe()">
    <!-- Recipe Name -->
    <div class="mb-4">
      <label for="name" class="text-gray-700">Recipe Name</label>
      <input
        type="text"
        id="name"
        formControlName="name"
        class="w-full py-1 px-2 mt-1 form-input border border-gray-300 outline-none"
        [ngStyle]="{
          'border-color':
            recipeForm.get('name')?.invalid && recipeForm.get('name')?.touched
              ? '#EF4444'
              : '#D1D5DB'
        }"
        required
      />
      <div
        *ngIf="
          recipeForm.get('name')?.invalid && recipeForm.get('name')?.touched
        "
        class="text-red-500"
      >
        {{ getErrorMessage("name") }}
      </div>
    </div>

    <!-- Image URL -->
    <div class="mb-4">
      <label for="imageUrl" class="text-gray-700">Image URL</label>
      <input
        type="text"
        id="imageUrl"
        formControlName="imageUrl"
        class="w-full py-1 px-2 mt-1 form-input border border-gray-300 outline-none"
        [ngStyle]="{
          'border-color':
            recipeForm.get('imageUrl')?.invalid &&
            recipeForm.get('imageUrl')?.touched
              ? '#EF4444'
              : '#D1D5DB'
        }"
        required
      />
      <div
        *ngIf="
          recipeForm.get('imageUrl')?.invalid && recipeForm.get('imageUrl')?.touched
        "
        class="text-red-500"
      >
        {{ getErrorMessage("imageUrl") }}
      </div>
    </div>

    <!-- Cook Time -->
    <div class="mb-4">
      <label for="cookTime" class="text-gray-700">Cook Time (minutes)</label>
      <input
        type="text"
        id="cookTime"
        formControlName="cookTime"
        class="w-full py-1 px-2 mt-1 form-input border border-gray-300 outline-none"
        [ngStyle]="{
          'border-color':
            recipeForm.get('cookTime')?.invalid &&
            recipeForm.get('cookTime')?.touched
              ? '#EF4444'
              : '#D1D5DB'
        }"
        required
      />
      <div
        *ngIf="
          recipeForm.get('cookTime')?.invalid &&
          recipeForm.get('cookTime')?.touched
        "
        class="text-red-500"
      >
        {{ getErrorMessage("cookTime") }}
      </div>
    </div>

    <!-- Difficulty -->
    <div class="mb-4">
      <label for="difficulty" class="text-gray-700">Difficulty</label>
      <select
        id="difficulty"
        formControlName="difficulty"
        class="w-full py-1 px-2 mt-1 form-select border border-gray-300 outline-none"
        [ngStyle]="{
          'border-color':
            recipeForm.get('difficulty')?.invalid &&
            recipeForm.get('difficulty')?.touched
              ? '#EF4444'
              : '#D1D5DB'
        }"
        required
      >
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>
      <div
        *ngIf="
          recipeForm.get('difficulty')?.invalid &&
          recipeForm.get('difficulty')?.touched
        "
        class="text-red-500"
      >
        {{ getErrorMessage("difficulty") }}
      </div>
    </div>

    <!-- Ár -->
    <div class="mb-4">
      <label for="price" class="text-gray-700">Price</label>
      <select
        id="price"
        formControlName="price"
        class="w-full py-1 px-2 mt-1 form-select border border-gray-300 outline-none"
        [ngStyle]="{
          'border-color':
            recipeForm.get('price')?.invalid && recipeForm.get('price')?.touched
              ? '#EF4444'
              : '#D1D5DB'
        }"
        required
      >
        <option value="cheap">Cheap</option>
        <option value="normal">Normal</option>
        <option value="expensive">Expensive</option>
      </select>
      <div
        *ngIf="
          recipeForm.get('price')?.invalid && recipeForm.get('price')?.touched
        "
        class="text-red-500"
      >
        {{ getErrorMessage("price") }}
      </div>
    </div>

    <!-- Mennyiség -->
    <div class="mb-4">
      <label for="serving" class="text-gray-700">Serving</label>
      <input
        type="number"
        id="serving"
        min="1"
        formControlName="serving"
        class="w-full py-1 px-2 mt-1 form-input border border-gray-300 outline-none"
        [ngStyle]="{
          'border-color':
            recipeForm.get('serving')?.invalid &&
            recipeForm.get('serving')?.touched
              ? '#EF4444'
              : '#D1D5DB'
        }"
        required
      />
      <div
        *ngIf="
          recipeForm.get('serving')?.invalid &&
          recipeForm.get('serving')?.touched
        "
        class="text-red-500"
      >
        {{ getErrorMessage("serving") }}
      </div>
    </div>

    <!-- Ingredients -->
    <div class="mb-4">
      <label for="ingredients" class="text-gray-700">Ingredients (each one to new line)</label>
      <textarea
        id="ingredients"
        formControlName="ingredients"
        class="w-full py-1 px-2 mt-1 form-input border border-gray-300 outline-none"
        [ngStyle]="{
          'border-color':
            recipeForm.get('ingredients')?.invalid &&
            recipeForm.get('ingredients')?.touched
              ? '#EF4444'
              : '#D1D5DB'
        }"
        required
      ></textarea>
      <div
        *ngIf="
          recipeForm.get('ingredients')?.invalid &&
          recipeForm.get('ingredients')?.touched
        "
        class="text-red-500"
      >
        {{ getErrorMessage("ingredients") }}
      </div>
    </div>

    <!-- Steps -->
    <div class="mb-4">
      <label for="steps" class="text-gray-700">Steps (each one to new line)</label>
      <textarea
        id="steps"
        formControlName="steps"
        class="w-full py-1 px-2 mt-1 form-input border border-gray-300 outline-none"
        [ngStyle]="{
          'border-color':
            recipeForm.get('steps')?.invalid && recipeForm.get('steps')?.touched
              ? '#EF4444'
              : '#D1D5DB'
        }"
        required
      ></textarea>
      <div
        *ngIf="
          recipeForm.get('steps')?.invalid && recipeForm.get('steps')?.touched
        "
        class="text-red-500"
      >
        {{ getErrorMessage("steps") }}
      </div>
    </div>

    <!-- Error message after clicking on the button -->
    <div *ngIf="errorMessage" class="text-red-500 mb-4">{{ errorMessage }}</div>

    <!-- Add Recipe button -->
    <button
      type="submit"
      class="w-full bg-blue-500 text-white px-4 py-2 rounded"
    >
      Add Recipe
    </button>
  </form>
</div>
